@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Voltaire", sans-serif;
}

.selected {
  pointer-events: none;
  border-color: rgb(164, 164, 164);
  color: rgb(164, 164, 164);
}
